.btn-overlay {
    position: fixed;
    top: 0;
    left: 0;
}

.screen {
    
    background: rgb(50,84,184);
    background: radial-gradient(circle, rgba(50,84,184,1) 0%, rgba(78,95,201,1) 29%, rgba(72,118,218,1) 81%, rgba(53,135,255,1) 100%);
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body .obj-container {
    margin: 0 auto;
    display: inline-block;
    position: relative;
    max-width: 80%;
    overflow: hidden;

    img.overview {
        width: 100%;
    }

    & > .layer-components {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;

        & > .components {
            & > .component {
                position: absolute;
                z-index: 10;
            }
        }
    }

    & > .layer-panels {
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;

        & > .panels {
            & > .panel {
                @apply tw-border-2 tw-border-gray-200;
                background: rgba($color: #000000, $alpha: .8);
                display: inline-block;
                position: absolute;
                z-index: 8;
                width: 120px;
                max-width: 150px;

                &:hover {
                    @apply tw-z-30;
                }

                & > .panel-container {
                    & > .header {
                        width: 100%;
                        @apply tw-bg-yellow-400 tw-px-2 tw-py-1 tw-text-indigo-800 tw-font-semibold tw-text-center tw-overflow-ellipsis tw-truncate tw-text-xs;
                    }
                    & > .content {
                        position: relative;
                        overflow: hidden;
                        @apply tw-text-gray-100 tw-text-center tw-text-xs;
                        padding: .2rem .4rem;
                    }
                    &::after {
                        @apply tw-bg-gray-200;
                        content: " ";
                        display: block;
                        position: absolute;
                        width: 30px;
                        height: 2px;
                        top: -2px;
                        right: -30px;
                    }
                }
            }
        }
    }
}


.controls {
    @apply tw-shadow;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 200px;
    margin-left: .4rem;
    margin-top: .4rem;
    background: rgba($color: #000000, $alpha: .8);
    border: 1px solid theme('colors.gray.100');
    
    & > .group {
        & > * {
            @apply tw-text-sm;
        }
        & > .header {
            @apply tw-text-gray-100 tw-bg-gray-800;
            border-bottom: 2px solid theme('colors.blue.600');
            border-top: 1px solid theme('colors.gray.100');
            padding: .2rem .8rem;
            cursor: pointer;

            &::before {
                content: "⮀";
            }
        }
        & > .content {
            @apply tw-text-gray-100;
            padding: .4rem .8rem;
        }
    }
}

.menu {
    z-index: 20;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    @apply tw-justify-center;

    & > .menu-container {
        margin-bottom: 1rem;
        & > .header {
            @apply tw-bg-gray-800 tw-inline-block tw-rounded-sm tw-text-xs tw-text-gray-100;
            border: 1px solid theme('colors.gray.100');
            border-bottom: 3px solid theme('colors.blue.600');
            padding: .2rem .4rem;
        }
        & > .content {
            @apply tw-shadow-lg tw-rounded-sm tw-flex tw-space-x-2;
            background: rgba($color: #000000, $alpha: .8);
            border: 1px solid theme('colors.gray.100');
            padding: 1rem 1rem;

            & button {
                @apply tw-rounded tw-bg-blue-400 hover:tw-bg-blue-600 tw-text-gray-100 tw-text-xs;
                padding: .8rem .4rem;
            }
        }
    }
}
